:root {
    --orange: #d95550;
    --lightOrange: #dd6662;
    --veryLightOrgange: #f89e8b;
    --gray: #55557b;
    --white: #fff;

}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--orange);
}


.logo {

    width: 300px;
    position: absolute;
    top: 0px;
    right: 30px;
}

h1 {
    margin-top: 200px;
    color: var(--white);
    text-align: center;
}

form {
    width: 400px;
    margin: 45px auto;
    text-align: center;
}

form input [type="text"] {
    background-color: var(--orange);
    color: var(--white);
    border-style: none;
    font-size: 1.5rem;
}

form input [type="text"]::placeholder {
    color: var(--veryLightOrgange);
}

form input [type="text"]:focus {
    outline: none;
}

form input [type="submit"]{
    font-size: 2em;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-style: none;
    color: var(--orange);
}

